<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" 
	th:replace="~{/layout/index :: dynamic(~{::main})}">
<body>
    <main>
        <div class="container" style="font-family: 'Montserrat', sans-serif;">
            <div class="row d-flex justify-content-center">
                <div class="col-md-6 col-lg-6">
                    <h1 class="text-center mt-5" style="font-size: 40px;">ENTER YOUR TOKEN</h1>
                    <div class="row d-flex justify-content-center mt-4 mb-5">
                        <form class="w-75" th:action="@{/token}" th:method="post">
						    <h1 class="text-center" style="font-size: 16px;">Enter the token to reset your password.</h1>
						    <div th:if="${message}">
						        <h1 class="mt-5 text-center" th:text="${message}" style="font-size: 16px; color: #ff0101;"></h1>
						    </div>
						    <div class="mt-4 mb-3">
						        <div class="row">
	                                <div class="col">
	                                    <label for="token" class="form-label">Token</label>
	                                </div>
	                                <div class="col text-end">
	                                    <label for="token" id="countdown" class="form-label" style="color: #ff0101;"></label>
	                                    <script>
	                                        var countdown = 60;
	
	                                        function decreaseCountdown() {
	                                            countdown--;
	                                            document.getElementById('countdown').innerHTML = countdown;
	
	                                            if (countdown > 0) {
	                                                setTimeout(decreaseCountdown, 1000);
	                                            } else {
	                                                document.getElementById('countdown').innerHTML = 'Hết giờ!';
	                                            }
	                                        }
	
	                                        decreaseCountdown();
	                                    </script>
	                                </div>
	                            </div>
						        <input type="text" class="form-control rounded-0 shadow-none" id="token" name="tokenValue"
						            placeholder="Token" required>
						    </div>
						    <button class="btn mt-3 rounded-0 w-100" type="submit"
						        style="background-color: #1e372f; box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;">
						        <h1 class="fw-bold mt-2 text-white" style="font-size: 11px;">CONFIRM</h1>
						    </button>
						</form>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
        </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
        integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
        </script>
</body>

</html>