							<div class="container mt-3">
                                <div class="row">
                                    <div class="col-10">
                                        <h1 class="fw-bold" style="font-size: 32px;">Analytics</h1>
                                    </div>
                                    <div class="col-2 text-end dropdown">
                                        <a class="btn border-0" href="#" role="button" data-bs-toggle="dropdown"
                                            aria-expanded="false">
                                            <iconify-icon icon="prime:bell" style="font-size: 24px;"></iconify-icon>
                                            <span
                                                class="position-absolute top-0 translate-middle badge rounded-pill"
                                                style="background-color: #1e372f;">
                                                4
                                                <span class="visually-hidden">unread messages</span>
                                            </span>
                                        </a>

                                        <ul class="dropdown-menu border-0 dropdown-menu-end"
                                            style="box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px; font-size: 13px;">
                                            <li>
                                                <a class="dropdown-item" href="#">
                                                    <img src="https://weblearnbd.net/tphtml/ebazer/assets/img/product/prodcut-1.jpg"
                                                        class="img-fluid rounded-3" alt="..."
                                                        style="width: 40px; height: 40px;">
                                                    <span class="fw-bold ms-1" style="font-size: 13px;">
                                                        New Order
                                                    </span>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item text-truncate" href="#">
                                                    <img src="https://weblearnbd.net/tphtml/ebazer/assets/img/product/prodcut-1.jpg"
                                                        class="img-fluid rounded-3" alt="..."
                                                        style="width: 40px; height: 40px;">
                                                    <span class="fw-bold ms-1" style="font-size: 13px;">
                                                        Payment Successful
                                                    </span>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item text-truncate" href="#">
                                                    <img src="https://weblearnbd.net/tphtml/ebazer/assets/img/product/prodcut-1.jpg"
                                                        class="img-fluid rounded-3" alt="..."
                                                        style="width: 40px; height: 40px;">
                                                    <span class="fw-bold ms-1" style="font-size: 13px;">
                                                        Shipping Update
                                                    </span>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item text-truncate" href="#">
                                                    <img src="https://weblearnbd.net/tphtml/ebazer/assets/img/product/prodcut-1.jpg"
                                                        class="img-fluid rounded-3" alt="..."
                                                        style="width: 40px; height: 40px;">
                                                    <span class="fw-bold ms-1" style="font-size: 13px;">
                                                        Customer Feedback
                                                    </span>
                                                </a>
                                            </li>
                                            <div class="text-center">
                                                <a class="btn" href="#" role="button" style="font-size: 13px;">VIEW
                                                    ALL</a>
                                            </div>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <h1 class="mt-2 mb-4" style="font-size: 13px;">
                                <nav class="ms-2" aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a class="text-secondary" href="#">Dashboard</a></li>
                                        <li class="breadcrumb-item active text-dark" aria-current="page">Analytics</li>
                                    </ol>
                                </nav>
                            </h1>
                            <div class="col">
                                <div class="row mt-3">
                                    <div class="col-md-6 col-lg-7">
                                        <div class="row rounded-3">
                                            <div class="input-group mb-3">
                                                <input type="text"
                                                    class="form-control border-0 bg-light rounded-pill rounded-end shadow-none ms-1"
                                                    placeholder="Search here..." aria-label="Search here..."
                                                    aria-describedby="button-addon2">
                                                <button class="btn bg-light border-0 rounded-pill rounded-start me-1"
                                                    type="button" id="button-addon2">
                                                    <iconify-icon class="mt-2" icon="prime:search"
                                                        style="font-size: 24px;"></iconify-icon>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="row rounded-3 ms-1 me-1 d-flex justify-content-end">
                                            <a class="btn col-md-6 col-lg-5 rounded-3 text-white" href="#!/product" role="button"
                                                aria-expanded="false"
                                                style="background-color: #1e372f; box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;">
                                                <iconify-icon icon="prime:plus"
                                                    style="font-size: 17px; position: relative; top: 3px;"></iconify-icon>
                                                <h1 class="fw-bold mt-2"
                                                    style="font-size: 13px; display: inline-block; margin-left: 5px;">
                                                    Add Product</h1>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="container mt-2">
                                <div class="row">
                                    <div class="col">
                                        <div id="line_top_x"></div>
                                    </div>
                                </div>
                            </div>